<section>
    <div>
        <h1 class="text-center">Our Story</h1>
        <ul class="list-group">
            <li class="list-group-item">
              After a year of handling the waste of Panaji city, one question always comes in our mind that why the city is still not clean. The littering of waste is still there. Another thing is waste pickers are very much active, still will can find the waste is there only and the community of waste pickers is still not uplifted. To understand this, we spent a day as a rag picker. We came up with the solution that will help to make city clean and uplift the rag pickers life simultaneously.
            </li>
            <li class="list-group-item">
                We started recycling/upcycling of those waste which has no economic value in today’s market. Waste like cigarette, flower and hair.
            </li>
            <li class="list-group-item">
                We are helping waste pickers with technical support. We are providing them with market knowledge. 
            </li>
          </ul>
    </div>
</section>