<section>
  <div *ngIf="isDesktop" class="pl-5 pr-5">
    <h1 class="text-center mb-3">OUR AIM</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text-muted">To set up more material recovery facilities and recycling facilities.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">Formalisation of informal markets, enabling better recovery of recyclable
          materials through traceable collection and recycling chains.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To engage with waste generators, bringing about behavioral changes like
          segregation at source.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To set up micro labs for innovation of waste.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To make final products out of every kind of waste.</p>
      </li>
    </ul>
  </div>

  <div *ngIf="!isDesktop">
    <h1 class="text-center mb-3">OUR AIM</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text-muted">To set up more material recovery facilities and recycling facilities.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">Formalisation of informal markets, enabling better recovery of recyclable
          materials through traceable collection and recycling chains.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To engage with waste generators, bringing about behavioral changes like
          segregation at source.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To set up micro labs for innovation of waste.</p>
      </li>
      <li class="list-group-item">
        <p class="text-muted">To make final products out of every kind of waste.</p>
      </li>
    </ul>
  </div>

  <div>
    <h1 class="text-center">FACTS</h1>

    <div class="card-group-flex">

      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="exclamation"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">It is now widely accepted that microplastics enter our food—chain through multiple
            channels. Of
            course, from marine sources like seafood, but also things like honey, beer and bottled water. On
            average, people could be ingesting approximately 5 grams of plastic every week, equivalent to the
            weight of a credit card.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="recycle"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">Just nine percent of all plastic waste ever produced globally has been recycled,
            according to the
            United Nations.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="umbrellaBeach"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">Plastic pollution in water con be found everywhere, from busy tourist beaches to
            uninhabited,
            tropical islands.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="shoppingBag"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">Shoppers worldwide are using approximately 5OO billion single-use plastic bags per year.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="dumpster"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">As of 2018, India generates over 150,000 tonnes per day of Municipal Solid Waste.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top center">
          <fa-icon size="4x" [icon]="smoking"></fa-icon>
        </div>
        <div class="card-body center">
          <p class="card-text">Cigarettes is the most littered waste in the world.</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isDesktop" class="pl-5 pr-5 mt-2">
    <h1 class="text-center mb-3">CONTRIBUTION TO CIRCULAR ECONOMY</h1>
    <div class="text-center border p-5 ml-5 mr-5">
      <img src="../../../assets/img/img (1).png" class="img-fluid">
    </div>
  </div>

  <div *ngIf="!isDesktop" class="mt-2">
    <h1 class="text-center mb-3">CONTRIBUTION TO CIRCULAR ECONOMY</h1>
    <div class="text-center border">
      <img src="../../../assets/img/img (1).png" class="img-fluid">
    </div>
  </div>

  <div *ngIf="isDesktop" class="pl-5 pr-5 mt-5">
    <h1 class="text-center mb-3">DATA TRACEBILITY</h1>
    <div class="text-center border p-5 ml-5 mr-5">
      <img src="../../../assets/img/img (2).png" class="img-fluid">
    </div>
  </div>

  <div *ngIf="!isDesktop" class="mt-5">
    <h1 class="text-center mb-3">DATA TRACEBILITY</h1>
    <div class="text-center border">
      <img src="../../../assets/img/img (2).png" class="img-fluid">
    </div>
  </div>

  <div *ngIf="isDesktop" class="pl-5 pr-5 mt-5">
    <h1 class="text-center mb-3">METHOD TO MADNESS</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center border">
          <img src="../../../assets/img/img (3).png" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="text-muted">We collect post-consumer non-biodegradable waste either in mixed form or
              segregated based on type (glass, metal, paper, plastic and fabric) from designated pick up
              points.</p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">At the time of collection, the waste is weighed, records ore mode (by us
              and our client).</p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">The collected material then enters our network of formalised Collection
              Partners
            </p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">Bulk Waste Generators that generate high volumes of waste are rewarded for
              practicing proper segregation - through Cashbacks or stationery mode from waste.</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="pl-5" style="font-size: small;">We invite residential, commercial, educational, industrial as well as
      religious
      establishments to reach out for a systematic assessment of your waste generation.</p>
  </div>

  <div *ngIf="!isDesktop" class="mt-5">
    <h1 class="text-center mb-3">METHOD TO MADNESS</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center border">
          <img src="../../../assets/img/img (3).png" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="text-muted">We collect post-consumer non-biodegradable waste either in mixed form or
              segregated based on type (glass, metal, paper, plastic and fabric) from designated pick up
              points.</p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">At the time of collection, the waste is weighed, records ore mode (by us
              and our client).</p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">The collected material then enters our network of formalised Collection
              Partners
            </p>
          </li>
          <li class="list-group-item">
            <p class="text-muted">Bulk Waste Generators that generate high volumes of waste are rewarded for
              practicing proper segregation - through Cashbacks or stationery mode from waste.</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="px-5" style="font-size: small;">We invite residential, commercial, educational, industrial as well as
      religious
      establishments to reach out for a systematic assessment of your waste generation.</p>
  </div>

</section>
